@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.employee-item {
  background-color: 'red';
  width: 200;
  flex-direction: row;
}

.management-menu-container{
  padding: 6px;
  flex-direction: row;
  justify-content: end;
  flex-direction: row;
  display: flex;

}


.table-header{
  display: flex;
}

.table-container{

}
.table-row{
  display: flex;
  flex-direction: row;
  float: 1;
  
}